name: CI

on: 
  push:
    branches: [ main ]

jobs:
  integrationTests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm start &
      - run: npx newman run tests/culturaBASE_integration.json
      - run: npx newman run tests/hostelries_integration.json
      - run: npx newman run tests/airRoutes_integration.json
      
      